body {
    background-color: #9e0303;
    margin: 0;
    padding: 0;
}

.container {
    background-color: aliceblue;
    margin: 150px auto;
    border-radius: 30px;
    padding: 30px;
    width: 600px;
}
